<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CPApplicationDelegateClass</key>
	<string>AppController</string>
	
	<key>CPApplicationSize</key>
	<dict>
		<key>executable</key>
		<string>1763198</string>
	</dict>
	
	<key>CPBundleName</key>
	<string>NiniliApp</string>
	
	<key>CPPrincipalClass</key>
	<string>CPApplication</string>
	
	<key>CPBundleVersion</key>
	<string>0.3</string>

	<key>CPBundleShortVersionString</key>
	<string>alpha</string>

	<key>CPApplicationIcon</key>
	<string>Resources/NihiliAppIcon_256x256.png</string>

	<key>CPHumanReadableCopyright</key>
	<string>Gabriel Habryn</string>
	
	<key>CPBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CPBundleTypeName</key>
			<string>SigilBundle</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nhl</string>
			</array>
			<key>CPDocumentClass</key>
			<string>NIDocument</string>
		</dict>
	</array>
</dict>
</plist>
